name: Generate Profile Metrics

on:
  schedule:
    - cron: '0 */8 * * *' # Every 8 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: longmaker2
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Africa/Nairobi
          config_display: large
          
          # Plugins
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, percentage
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 15
          
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: yes
          
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_sections: base
          
          plugin_code: yes
          plugin_code_lines: 12
          plugin_code_load: 400
          plugin_code_visibility: public
          
          commits_authoring: longmaker2, l.deng@alustudent.com

